/***************/
/* NAV BAR */
/***************/

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: max(5vh, 40px);
  background-color: #252525;
  z-index: 10;
}

.nav-bar .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 0 0 10px #252525;
}

.nav-bar .img-container img {
  object-fit: contain;
  border-radius: 50%;
  width: 200px;
}

.nav-list {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
}

/***************/
/* MOVIE LIST LAYOUT */
/***************/

.movies-list {
  display: flex;
  align-items: center;
  height: 90vh;
  padding: 2vh 0 4vh 0;
}

/***************/
/* SINGLE MOVIE LAYOUT */
/***************/

.single-movie {
  position: relative;
  align-self: center;
  /* flex: 0.5;
  flex-shrink: 0; */
  min-width: 200px;
  height: 95%;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.single-movie:last-of-type {
  margin-right: 30px;
}

.single-movie:hover,
.single-movie.active {
  box-shadow: 0 0 5px #66c0cc, 0 0 15px #2d6472;
}

.movie-backdrop {
  position: relative;
  width: 100%;
  height: 100%;
}

.single-movie .movie-backdrop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

.single-movie.active {
  /* flex: 4; */
  min-width: 20%;
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-backdrop {
  background-color: black;
}

.single-movie.active .movie-backdrop img {
  filter: blur(20px);
  opacity: 0.2;
  transition: ease-in-out 0.3s;
}

/***************/
/* MOVIE TITLE */
/***************/

.movie-title {
  position: absolute;
  margin: 0;
  padding: 3px 7px 3px 15px;
  left: 0;
  color: rgba(69, 69, 69, 0.69);
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: ease-in-out 0.3s;
}

.movie-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 35px;
  width: 100%;
  height: 100%;
  background: #252525;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-30deg);
  z-index: -1;
  box-shadow: 10px 0 0 rgba(255, 255, 255, 0.3);
}

.movie-title h2 {
  margin: 0;
  font-size: 2rem;
}

.single-movie:hover .movie-title,
.single-movie.active .movie-title {
  color: rgba(255, 255, 255, 0.69);
  transition: ease-in-out 0.3s;
}

.single-movie:hover .movie-title::after,
.single-movie.active .movie-title::after {
  box-shadow: 10px 0 0 rgba(68, 206, 224, 0.69), 0 0 10px black;
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-title::after {
  padding-right: 100%;
  transition: ease-in-out 0.3s;
}

/****************/
/* MOVIE ACTIVE */
/****************/
.movie-active-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.single-movie.active .movie-active-container {
  display: block;
}

/* movie poster */
.movie-poster {
  width: 400px;
  height: 600px;
}

.movie-poster img {
  display: none;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
