/***************/
/* NAV BAR */
/***************/

.nav-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: max(5vh, 40px);
  background-color: var(--main);
  z-index: 10;
}

.nav-bar .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 0 0 10px var(--main);
}

.nav-bar .img-container img {
  object-fit: contain;
  border-radius: 50%;
  width: 200px;
}

.nav-list {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
}

/***************/
/* MOVIE LIST LAYOUT */
/***************/

.movies-list {
  display: flex;
  align-items: center;
  height: 95vh;
  padding: 1vh 0 1vh 0;
}

/***************/
/* SINGLE MOVIE LAYOUT */
/***************/

.single-movie {
  position: relative;
  align-self: center;
  /* flex: 0.5;
  flex-shrink: 0; */
  min-width: 200px;
  height: 95%;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
}

.single-movie:last-of-type {
  margin-right: 30px;
}

.single-movie:hover,
.single-movie.active {
  box-shadow: 0 0 5px var(--liteAccent), 0 0 15px var(--accent);
}

.movie-backdrop {
  position: relative;
  width: 100%;
  height: 100%;
}

.single-movie .movie-backdrop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

.single-movie.active {
  /* flex: 4; */
  min-width: min(20%, 80vw);
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-backdrop {
  background-color: black;
}

.single-movie.active .movie-backdrop img {
  filter: blur(20px);
  opacity: 0.2;
  transition: ease-in-out 0.3s;
}

/***************/
/* MOVIE TITLE */
/***************/

.movie-title {
  position: absolute;
  margin: 0;
  padding: 2px 7px 3px 15px;
  left: 0;
  color: var(--liteMain);
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: ease-in-out 0.3s;
}

.movie-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 35px;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.75);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-30deg);
  z-index: -1;
  box-shadow: 10px 0 0 rgba(255, 255, 255, 0.3);
  transition: ease-in-out 0.3s;
}

.movie-title h2 {
  margin: 0;
  font-size: 2rem;
}

.single-movie:hover .movie-title,
.single-movie.active .movie-title {
  color: rgba(255, 255, 255, 0.69);
  transition: ease-in-out 0.3s;
}

.single-movie:hover .movie-title::after,
.single-movie.active .movie-title::after {
  box-shadow: 10px 0 0 var(--liteAccent);
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-title::after {
  box-shadow: 0 0 10px var(--background);
  padding-right: 1000px;
  transition: ease-in-out 0.3s;
}

/****************/
/* MOVIE ACTIVE */
/****************/

.movie-active-container {
  display: none;
  /* opacity: 0; */
  position: absolute;
  padding: 30px 30px 30px 80px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: ease-in-out 0.5s;
  gap: 30px;
}

.single-movie.active .movie-active-container {
  display: grid;
  grid-template-columns: fit-content(200px);

  /* opacity: 1;
  transition: ease-in-out 0.5s; */
}

.movie-active-left {
  grid-area: 1 / 1 / 2 / 2;
}

.movie-active-right {
  grid-area: 1 / 2 / 2 / 3;
}

/* movie poster */
.movie-poster {
  position: relative;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.movie-poster img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* movie active title  */

.movie-active-title h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4rem;
  line-height: 4rem;
}

/* movie active tagline */
.movie-active-tagline {
  margin: 10px 5px 10px 0;
  color: rgb(110, 110, 110);
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
