/***************/
/* NAV BAR */
/***************/

.nav-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: max(5vh, 40px);
  background-color: var(--main);
  z-index: 10;
}

.nav-bar .img-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 20px;
  overflow: hidden;
  box-shadow: 0 0 0 10px var(--main);
}

.nav-bar .img-container img {
  object-fit: contain;
  border-radius: 50%;
  width: 200px;
}

@media only screen and (max-width: 500px) {
  .nav-bar .img-container {
    margin: 0;
  }
}

/* buttons */
button {
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 7px;
  color: var(--liteMain);
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

button:hover {
  color: white;
  /* box-shadow: 0 0 5px white; */
}

button.active {
  color: white;
  text-shadow: 0 0 10px var(--liteAccent);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--liteAccent);
  }
  to {
    text-shadow: none;
  }
}

/***************/
/* ABOUT CARD*/
/***************/
.about-card {
  z-index: 12;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.close-button {
  position: absolute;
  right: 2%;
  top: 3%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.close-button svg {
  fill: white;
  width: 50px;
  height: 50px;
}

.about-text {
  position: relative;
  padding: 50px;
  max-width: 75%;
  max-height: 80vh;
  overflow: auto;
  color: grey;
  background-color: var(--main);
  border-radius: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.about-title {
  position: relative;
  margin: 0;
  padding-left: 20px;
  color: white;
}

.about-title::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 5px;
  height: 75%;
  background-color: var(--liteAccent);
}

.about-body a {
  text-decoration: none;
  font-style: italic;
  color: var(--liteAccent);
}

.about-body a:hover {
  color: white;
}

/* table */
table {
  font-size: 1rem;
  border-collapse: collapse;
}

td {
  padding-right: 2rem;
}

@media only screen and (max-width: 500px) {
  tr {
    display: flex;
    flex-flow: column;
    padding: 0;
    padding-bottom: 20px;
  }

  td {
    padding: 0;
  }
}

/***************/
/* MOVIE LIST LAYOUT */
/***************/

.movies-list {
  /* position: relative; */
  display: flex;
  flex-grow: 0;
  height: 95vh;
  left: -100px;
  overflow-x: scroll;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg); /* Mozilla */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
  -ms-transform: rotateX(180deg); /* IE 9+ */
  -o-transform: rotateX(180deg); /* Opera */
  scrollbar-color: var(--liteAccent) var(--main);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.movies-list::-webkit-scrollbar {
  cursor: pointer;
  height: 50px;
}

.movies-list::-webkit-scrollbar-track-piece {
  background-color: var(--main);
  border: 23px solid var(--background);
}

.movies-list::-webkit-scrollbar-track-piece:hover {
  background-color: var(--liteMain);
}

.movies-list::-webkit-scrollbar-thumb {
  background-color: var(--liteAccent);
  border: 20px solid var(--background);
  border-radius: 50px;
}

.movies-list::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.all-movies {
  position: relative;
}

/* arrows */
.arrow-left,
.arrow-right {
  z-index: 1;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5vw;
  background-image: linear-gradient(to left, transparent, var(--background));
}

.arrow-right {
  top: 0;
  right: 0;
  background-image: linear-gradient(to right, transparent, var(--background));
}

.arrow-left svg,
.arrow-right svg {
  fill: white;
  height: 50px;
  width: 50px;
  filter: drop-shadow(0 0 10px var(--liteAccent));
}

.arrow-left:hover.arrow-left svg,
.arrow-right:hover.arrow-right svg {
  filter: drop-shadow(0 0 2px var(--liteAccent));
}

.arrow-left:hover {
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(45, 100, 114, 0.7)
  );
}

.arrow-right:hover {
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(45, 100, 114, 0.7)
  );
}

@media only screen and (max-width: 500px) {
  .arrow-left,
  .arrow-right {
    display: none;
  }
}

/***************/
/* SINGLE MOVIE LAYOUT */
/***************/

.single-movie {
  position: relative;
  align-self: center;
  min-width: 200px;
  width: 200px;
  height: 95%;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg); /* Mozilla */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
  -ms-transform: rotateX(180deg); /* IE 9+ */
  -o-transform: rotateX(180deg); /* Opera */
  /* filter: grayscale(75%); */
}

#empty-margin {
  content: " ";
  display: block;
  min-width: 30px;
  min-height: 200px;
}

.single-movie:hover,
.single-movie.active {
  box-shadow: 0 0 5px 1px var(--liteAccent), 0 0 15px var(--accent);
  /* filter: grayscale(0%); */
}

.single-movie:focus {
  box-shadow: 0 0 5px 1px var(--liteAccent), 0 0 15px var(--accent);
}

.movie-backdrop {
  position: relative;
  width: 100%;
  height: 100%;
}

.single-movie .movie-backdrop img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

.single-movie.active {
  min-width: 60%;
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-backdrop img {
  filter: blur(20px);
  opacity: 0.1;
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 1200px) {
  .single-movie.active {
    min-width: 90vw;
    transition: ease-in-out 0.3s;
  }
}

/***************/
/* MOVIE TITLE TAG */
/***************/

.movie-title {
  position: absolute;
  margin: 0;
  padding: 2px 7px 3px 15px;
  left: 0;
  color: rgba(255, 255, 255, 0.3);
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: color ease-in-out 0.3s;
}

.movie-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 35px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.69);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-30deg);
  z-index: -1;
  transition: color ease-in-out 0.3s;
}

.movie-title h2 {
  margin: 0;
  font-size: 2rem;
}

.single-movie:hover .movie-title,
.single-movie.active .movie-title {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px var(--background);
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-title {
  color: rgba(110, 110, 110, 0.3);
  transition: ease-in-out 0.3s;
}

.single-movie:hover .movie-title::before {
  background-color: rgba(37, 37, 37, 0.69);
  box-shadow: 10px 0 0 var(--liteAccent);
  transition: ease-in-out 0.3s;
}

.single-movie.active .movie-title::before {
  box-shadow: 10px 0 0 var(--liteAccent), 0 0 20px var(--background);
  padding-right: 1000px;
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 800px) {
  .single-movie.active .movie-title {
    opacity: 0;
  }
}

/****************/
/* MOVIE ACTIVE */
/****************/

.movie-active-container {
  display: grid;
  grid-template-rows: fit-content(100px) auto;
  grid-template-columns: 25% 75%;
  opacity: 0;
  position: absolute;
  padding: 30px 30px 30px 80px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity ease-out 0.3s;
}

.single-movie.active .movie-active-container {
  opacity: 1;
  transition-delay: 0.2s;
  transition-property: opacity ease-in 0.3s;
}

.movie-active-top {
  grid-area: 1 / 1 / 2 / 3;
  padding-right: 30px;
  display: flex;
  flex-flow: column nowrap;
}

.movie-active-left {
  grid-area: 2 / 1 / 3 / 2;
  margin-top: 20px;
}

.movie-active-right {
  display: flex;
  flex-flow: column;
  /* grid-area: 2 / 2 / 3 / 3; */
  margin-left: 30px;
  min-height: 60%;
  /* padding-right: 30px; */
}

@media only screen and (max-width: 800px) {
  .movie-active-container {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 500px) {
  .movie-active-container {
    display: flex;
    flex-flow: column;
    color: red;
  }

  .movie-active-right {
    padding: 0;
    margin: 0;
  }
}

/* movie poster */
.movie-poster {
  width: 100%;
  overflow: hidden;
  background-color: var(--liteAccent);
  box-shadow: 0 0 15px var(--background);
}

.movie-poster img {
  object-fit: contain;
  width: 100%;
}

/* movie active title  */
.movie-active-title {
  position: relative;
  width: 100%;
}

.movie-active-title::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 5px;
  height: 95%;
  background-color: var(--liteAccent);
}

.movie-active-title h1 {
  margin: 0;
  padding-left: 20px;
  color: white;
  font-size: max(2.5rem, 3vw);
  line-height: max(2.5rem, 3vw);
}

/* movie active tagline */
.movie-active-tagline {
  margin: 10px 5px 10px 0;
  color: rgb(110, 110, 110);
  font-size: max(1.25rem, 1.5vw);
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* movie active subtitle */
.movie-active-subtitle {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* margin-top: 20px; */
  width: 100%;
  font-family: var(--text);
  letter-spacing: 2px;
}

.movie-active-subtitle span {
  margin-top: 20px;
  font-size: max(1.25rem, 1.5vw);
  margin-right: 10px;
  color: white;
}

.movie-active-subtitle .dot {
  color: var(--accent);
  font-size: 2rem;
}

.movie-active-subtitle .vote-average {
  padding: 5px 10px 5px 10px;
  background-color: var(--accent);
  font-weight: 700;
  border-radius: 5px;
}

/* movie cast */
.cast {
  display: flex;
  flex-flow: row wrap;
  color: var(--liteAccent);
}

.actor {
  padding: 5px 10px 5px 10px;
  margin: 20px 10px 0 0;
  font-size: max(1rem, 1vw);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* movie active overview */
.movie-active-overview {
  margin-top: 20px;
  color: grey;
  font-size: max(1.2rem, 1.2vw);
  line-height: max(1.5rem, 1.5vw);
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .movie-active-overview {
    margin: 15px 0 50px 0;
    padding-bottom: 50px;
  }

  .movie-active-overview.tv {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 0;
  }
}

/***************/
/* SHOW */
/***************/

/* show episodes */
.episodes-container {
  float: left;
  margin-top: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--liteAccent) var(--main);
  scrollbar-width: thin;
}

.episodes-container::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

.episodes-container::-webkit-scrollbar-track-piece {
  background-color: var(--main);
}

.episodes-container::-webkit-scrollbar-track-piece:hover {
  background-color: var(--liteMain);
}

.episodes-container::-webkit-scrollbar-thumb {
  background-color: var(--liteAccent);
  border-radius: 50px;
}

.episodes-container::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.episode {
  display: flex;
  padding: 10px 10px 10px 15px;
  margin: 20px 0 20px 0;
  background-color: rgba(37, 37, 37, 0.5);
  border-radius: 5px;
}

.episode:first-child {
  margin: 0;
}

.episode-still-container {
  position: relative;
  flex-shrink: 0;
  padding-top: 5px;
  margin-right: 15px;
  width: 150px;
  overflow: hidden;
}

.episode-still {
  padding-left: 5px;
  object-fit: cover;
  width: 100%;
  border-left: 2px var(--liteAccent) solid;
}

.episode-description-container {
  color: grey;
}

.episode-name {
  position: relative;
  font-weight: 700;
}

.episode-name-season {
  color: var(--liteAccent);
  font-weight: inherit;
}

.episode-name-name {
  font-weight: inherit;
  color: white;
}

@media only screen and (max-width: 800px) {
  .episodes-container {
    padding: 0;
  }

  .episode {
    flex-flow: column;
  }
}

@media only screen and (max-width: 500px) {
  .episodes-container {
    overflow: visible;
  }

  .movie-active-right {
    min-height: 0;
  }

  .episode:last-child {
    margin-bottom: 70px;
  }
}

/* loading icons */
.loading {
  z-index: 500;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: var(--background);
}

.media-loading {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.loader {
  display: flex;
  height: 100%;
  width: 100%;
  transform: scale(1000%);
  opacity: 0.05;
}
