.genres-list {
  margin-top: 20px;
  width: 100%;
}

.genre-action,
.genre-adventure,
.genre-comedy,
.genre-drama,
.genre-fantasy,
.genre-science-fiction {
  padding: 7px;
  padding-left: 15px;
  margin: 10px 0 10px 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 5px;
}

.genre-action {
  background-color: red;
}
.genre-adventure {
  background-color: red;
}
.genre-comedy {
  background-color: red;
}
.genre-drama {
  background-color: red;
}
.genre-fantasy {
  background-color: red;
}
.genre-science-fiction {
  background-color: red;
}
