.genres-list {
  margin-top: 20px;
  width: 100%;
}

.genres-list div {
  position: relative;
  padding: 10px 0 10px 20px;
  margin: 10px 0 10px 0;
  color: white;
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 5);
  background-color: rgba(255, 255, 255, 0.1);
}

.genre-aa::before,
.genre-action::before,
.genre-adventure::before,
.genre-animation::before,
.genre-comedy::before,
.genre-crime::before,
.genre-drama::before,
.genre-fantasy::before,
.genre-mystery::before,
.genre-science-fiction::before,
.genre-sf::before,
.genre-thriller::before,
.genre-wp::before,
.genre-family::before,
.genre-horror::before,
.genre-none::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 5px;
  height: 100%;
}

.genre-aa::before {
  background-image: linear-gradient(rgb(255, 85, 85), rgb(158, 84, 255));
}

.genre-action::before {
  background-color: rgb(255, 85, 85);
}

.genre-adventure::before {
  background-color: rgb(158, 84, 255);
}

.genre-animation::before {
  background-color: rgb(255, 209, 84);
}

.genre-comedy::before {
  background-color: rgb(255, 223, 82);
}

.genre-crime::before {
  background-color: rgb(255, 124, 179);
}

.genre-drama::before {
  background-color: rgb(255, 136, 57);
}

.genre-fantasy::before {
  background-color: rgb(96, 255, 81);
}

.genre-mystery::before {
  background-color: rgb(163, 0, 0);
}

.genre-science-fiction::before {
  background-color: rgb(69, 196, 255);
}

.genre-sf::before {
  background-image: linear-gradient(rgb(69, 196, 255), rgb(96, 255, 81));
}

.genre-thriller::before {
  background-color: rgb(229, 124, 255);
}

.genre-wp::before {
  background-color: rgb(109, 109, 109);
}

.genre-horror::before {
  background-color: rgb(160, 32, 32);
}

.genre-family::before {
  background-color: rgb(177, 129, 255);
}

.genre-none::before {
  background-color: white;
}
