.genres-list {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 20px;
  width: 100%;
}

.genres-list div {
  padding: 7px;
  margin: 7px 0 7px 5px;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0, 5);
  background-color: rgba(255, 255, 255, 0.1);
}

.genre-action {
  box-shadow: -5px 0 0 0 rgb(255, 85, 85);
}
.genre-adventure {
  box-shadow: -5px 0 0 0 rgb(158, 84, 255);
}
.genre-comedy {
  box-shadow: -5px 0 0 0 rgb(255, 223, 82);
}
.genre-drama {
  box-shadow: -5px 0 0 0 rgb(255, 136, 57);
}
.genre-fantasy {
  box-shadow: -5px 0 0 0 rgb(96, 255, 81);
}
.genre-science-fiction {
  box-shadow: -5px 0 0 0 rgb(69, 196, 255);
}
.genre-thriller {
  box-shadow: -5px 0 0 0 rgb(229, 124, 255);
}

/* @media only screen and (max-width: 1024px) {
  .genres-list div {
    font-size: 1rem;
  }
} */
