@import url("https://use.typekit.net/qhq1mem.css");

body {
  height: 100%;
  margin: 0;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #121212;
  /* box-sizing: border-box; */
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: rift, sans-serif;
  font-weight: 700;
  font-style: normal;
}
